@font-face {
  font-family:"Roboto";
  src: url("../fonts/roboto.woff") format("woff"),
      url("../fonts/roboto.woff2") format("woff2");
      font-weight: 400;
      font-style: normal;
}
@font-face {
  font-family:"Roboto";
  src: url("../fonts/robotobold.woff") format("woff"),
      url("../fonts/robotobold.woff2") format("woff2");
      font-weight: 700;
      font-style: normal;
}
@font-face {
  font-family:"Roboto";
  src: url("../fonts/robotomedium.woff") format("woff"),
      url("../fonts/robotomedium.woff2") format("woff2");
      font-weight: 500;
      font-style: normal;
}

/*variables*/

:root {
  --text-black: #000000;
  --text-small: #283136;
  --basic-white: #ffffff;
  --background-button-red: #fb565a;
  --background-grey: #eeeeee;
  --background-button-green: #00ca74;
  --background-button-yellow: #EFC849;
  --basic-dark-grey: #888888;
  --icons-color: #a6a6a6;
  --basic-green: #00ca74;
  --basic-black: #231f20;
  --text-footer: #444444;
  --text-contacts: #666666;
  --button-hover-red: #E74246;
  --button-hover-green: #00BC6C;
  --button-hover-yellov: #EAB534;
  --button-focus-red: #D7373B;
  --button-focus-green: #00AA62;
  --button-focus-yellow: #E5A722;
  --checkbox: #4d4d4d;
  --background-button-grey: #dfdfdf;
}

/*Global*/

.page {
  height: 100%;
}

.page-body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-black);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Button*/

.button {
  display: inline-block;
  vertical-align: middle;
  margin-top: 15px;
  padding: 15px 40px;
  font: inherit;
  color: var(--basic-white);
  text-align: center;
  text-transform: uppercase;
  background-color: var(--background-button-red);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
  
.button:hover {
  background-color: var(--button-hover-red);
}

.button:active {
  color: #e26f72;
  background-color: #D7373B;
  box-shadow: 0 3px 0 0 #c13135 inset;
}

/*main-header*/

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background-color: var(--background-grey);
}

.header-container {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
  margin-top: 48px;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  padding-top: 0;
}

.header-logo img:hover {
  opacity: 0.7;
}

.header-logo img:active {
  opacity: 0.5;
}

.header-navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  width: 550px;
  margin-left: 200px;
}

.header-navigation-item {
  display: block;
  margin-right: 46px;
  padding: 0;
  padding-bottom: 10px;
  position: relative;
}

.header-navigation-item:last-child {
  margin-right: 0;
}

/* User navigation */

.basket-container {
  max-width: 160px;
  position: relative;
}

.basket {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 0;
  padding-bottom: 10px;
  position: relative;
}

.basket::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 0;
  width: 15px;
  height: 18px;
  background-image: url("../img/icons/basket-icon.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-navigation-list a,
.basket {
  color: var(--text-black);
  display: inline-block;
  vertical-align: middle;
}

.header-navigation-list a:hover,
.basket:hover {
  color: var(--background-button-red);
}

.header-navigation-list a:active,
.basket:active {
  color: var(--text-black);
  opacity: 30%;
}

.header-navigation-item-active::before {
  content: "";
  position: absolute;
  background: #fb565a;
  height: 2px;
  width: 100%;
  bottom: -5px;
  top: 10px;
}

/*Slider*/

.slider {
  position: relative;
  min-width: 1160px;
  height: 431px;
  background-color: var(--background-grey);
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item-mathematical {
  display: none;
  background-image: url("../img/slider-two.jpg");
  background-color: var(--background-grey);
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-bottom: 80px;
}

.slider-item-mathematical {
  display: none;
  background-image: url("../img/slider-two.jpg");
  background-color: var(--background-grey);
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-bottom: 80px;
}

.slider-item-hardcore {
  display: none;
  background-image: url("../img/slider-three.jpg");
  background-color: var(--background-grey);
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-bottom: 80px;
}

.slider-item-current {
  display: block;
  margin-right: 3px;
  background-image: url("../img/slider-two.jpg");
}

.slider-title {
  width: 538px;
  margin: 0;
  margin-bottom: 25px;
  padding-top: 71px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: left;
}

.slider-slogan {
  padding-top: 3px;
}

.slider-button {
  padding-top: 12px;
  padding-right: 56px;
  padding-left: 55px;
  padding-bottom: 12px;
  margin-top: 25px;
  border-radius: 3px;
  text-align: center;
}

.slider-controls-list {
  list-style: none;
  position: absolute;
  bottom: 80px;
  left: 675px;
  z-index: 20;
  display: flex;
  width: 89px;
  justify-content: space-between;
}

.slider-dot {
  padding: 0;
  position: relative;
  width: 18px;
  height: 18px;
  margin: 0;
  background: #fff;
  border: 5px solid #fff;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

.slider-dot.slider-dot-current::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background: #fff;
  border: 2px solid var(--basic-dark-grey);
  border-radius: 50%;
  top: 0;
  right: 0;
}

/*Service*/

.service {
  margin-top: 73px;
  padding-bottom: 80px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.service-item {
  width: 300px;
}

.service h3 {
  font-size: 24px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 26px;
  margin-left: 1px;
  margin-bottom: 20px;
}

.service-item p {
  padding-top: 0;
  width: 260px;
}

.button-order-red {
  margin-top: 17px;
  padding: 14px 40px 12px;
  border-radius: 3px;
}

.button-order-green {
 background-color: var(--background-button-green);
 margin-top: 17px;
 padding: 14px 40px 12px;
 border-radius: 3px;
}

.button-order-green:hover {
 background-color: var(--button-hover-green);
}

.button-order-green:active {
 color: #4dc491;
 background-color: #00aa62;
 box-shadow: 0 3px 0 0 #009958 inset;
}

.button-order-yellow {
 background-color: var(--background-button-yellow);
 margin-top: 17px;
 padding: 14px 40px 12px;
 border-radius: 3px;
}

.button-order-yellow:hover {
 background-color: var(--button-hover-yellov);
}

.button-order-yellow:active {
 color: #edc265;
 background-color: #E5A722;
 box-shadow: 0 3px 0 0 #ce961f inset;
}

/*Features*/

.features-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 41px;
  border-top: 2px solid var(--background-grey);
  border-bottom: 2px solid var(--background-grey);
}

.features-favor {
  width: 660px;
  margin-right: 120px;
}

.features-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 44px;
  padding: 0;
  margin: 0;
  margin-top: 45px;
}

.features-slogan {
  line-height: 24px;
  margin-top: 33px;
}

.features-favor h3 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  margin-top: 40px;
}

.features-list {
  list-style: none;
  padding: 0;
}

.features-list li {
  padding-top: 7px;
  padding-bottom: 17px;
  padding-left: 36px;
  position: relative;
}

.features-list li::before {
  content: "";
  top: 19px;
  left: 0;
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

/*features-statistics*/

.features-statistics {
  width: 360px;
}

.features-statistics img {
  width: 360px;
  height: 208px;
  display: block;
  margin-top: 9px;
}

.features-table-title {
  display: block;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 36px;
}

.features-table {
  margin-top: 48px;
}

.features-table th {
  font-weight: bold;
  font-size: 45px;
  line-height: 10px;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-right: 15px;
  text-align: left;
}

.features-table sub {
  font-size: 28px;
}

/*project*/

.project {
  padding: 0;
  margin: 0 auto;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 25px 30px 48px 30px;
  border-bottom: 2px solid #eee;
  margin-bottom: 20px;
}

.project-item {
  border-right: 2px solid #eee;
  height: 48px;
  padding-right: 48px;
  padding-top: 10px;
  padding-bottom: 35px;
}

.project-item:last-child {
  border-style: none;
}

.project-logo {
  opacity: 0.20;
}

.project-logo:hover {
  opacity: 1;
}

.project-logo:active {
  opacity: 0.1;
}

/*footer*/
  
.footer {
  font: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

.footer-contacts {
  position: relative;
  padding: 120px 0px 100px 150px;
  background: #fff url("../img/map.png") center no-repeat;
  background-size: cover;
}
.footer-iframe {
  top:0;
  left:0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.footer-contacts-map {
  width: 100%;
  height: 100%;
}

.footer-iframe::before {
  content: "";
  position: absolute;
  top: 32%;
  left: 53%;
  width: 190px;
  height: 190px;
  background-image: url(../img/map-marker.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  transform: translate(-50%,-50%);
} 

.footer-contacts-address {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  background-color: #fff;
  width: 320px;
  padding: 30px 50px;
  z-index: 1;
}

.footer-contacts-address h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.footer-contacts-address address {
  display: block;
  line-height: 18px;
  font-style: normal;
  margin-top: 23px;
  padding-bottom: 36px;
  color: #666666;
}

.footer-contacts-phone {
  display: block;
  padding-top: 18px;
  padding-right: 0px;
  margin-bottom: 2px;
}

.footer-contacts-phone a {
  color: #666666;
}

.footer-contacts-button {
  padding: 0;
  margin: 0;
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 44px;
  padding-right: 44px;
}

/*footer-social*/

.footer-social-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 95px;
  margin-bottom: 50px;
}

.footer-social-title {
  order: 1;
  width: 760px;
  margin: 0;
  padding: 0;
  line-height: 36px;
}

.footer-social-container h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  padding-top: 30px;
}

.footer-social-container p {
  line-height: 22px;
  color: #444444;
  margin-top: 10px;
  padding: 0;
} 

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  width: 259px;
  margin: 0;
  padding: 0;
  margin-top: 14px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 78px;
  background-color: #e1e1e1;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #e74246; 
}

.footer-social-link:active {
  background-color: #d7373b;
}

.footer-social-link:focus:active path {
  fill: #ffffff;
  opacity: 30%;
}

/*Moda;*/

.modal {
  position: fixed;
  z-index: 100;
  top: 50px;
  right: 0;
  left: 0;
  margin: auto;
  bottom: auto;
  box-sizing: border-box;
  border-radius: 5px;
  width: 960px;
  height: 590px;
  padding: 60px 100px 30px 100px;
  background-color: #FFFFFF;
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  display: none;
}

.modal-active {
  display: block;
}

.modal-close {
  position: absolute;
  top: 75px;
  right: 100px;
  width: 21px;
  height: 21px;
  border: 0;
  cursor: pointer;
  background-image: url("../img/icons/closes-cross.svg");
  opacity: 0.3;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: .1;
  border: none;
}

.modal h2 {
  margin: 0;
  margin-bottom: 37px;
  font-size: 45px;
  line-height: 53px;
}

.modal p {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.modal-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-top: 30px;
  margin-bottom: 0;
}

.modal-name {
  display: block;
  width: 360px;
}
.modal-email {
  display: block;
  width: 360px;
}

.modal-input, 
.modal-comment {
  display: block;
  box-sizing: border-box;
  line-height: 18px;
  color: #a1a1a1;
  padding: 15px;
  margin-top: 10px;
  border: 2px solid #d7dcde;
  border-radius: 5px;
  width: 360px;
  outline: none;
}

.modal-comment {
  width: 760px;
  height: 115px;
  margin-bottom: 35px;
}

.modal-input:hover, 
.modal-comment:hover {
  border: 2px solid #B4B9BB;
}

.modal-input:focus, 
.modal-comment:focus {
  color: #000;
  border: 2px solid #000;
}

.modal-input:invalid, .modal-comment:invalid {
  box-shadow: none;
  color: #e74246;
  border: 2px solid #e74246;
}

.modal-button-submit {
  padding: 15px 83px;
}

/*Catalog*/

.main-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  padding-top: 70px;
  padding-bottom: 115px;
  text-align: center;
  background-color: var(--background-grey);
}

.catalog-container {
  display: grid;
  grid-template-columns: 260px 1fr;
  margin-top: 50px;
  margin-bottom: 0;
}

/*filter*/

.filter {
  width: 260px;
  padding: 0;
  margin: 0;
}

.filter-form fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filter-form fieldset:first-child {
  margin-bottom: 54px;
}

.filter-form fieldset:nth-child(2n) {
  margin-bottom: 28px;
}

.filter-form fieldset:nth-child(3n) {
  margin-bottom: 50px;
}

.filter-form legend {
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

/*range*/

.filter-range-wrapper {
  margin-top: 36px;
  width: 260px;
}

.filter-range {
  position: relative;
  margin-bottom: 14px;
  padding: 39px 20px;
  border-radius: 3px;
  background-color: #eeeeee;
}

.filter-range-scale {
  height: 2px;
  background-color: #D7DCDF;
}

.filter-range-bar {
  height: 2px;
  width: 60%;
  margin-left: 8%;
  background-color: #00ca74;
}

.filter-range-toggle {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  box-sizing: content-box;
  padding: 0;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.filter-range-toggle-min {
  left: 7%;
}

.filter-range-toggle-max {
  left: 62%;
}

.filter-price {
  display: flex;
  justify-content: space-between;
}

.filter-price label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.filter-price input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}

/*selection filter*/

/*.filter-radio*/

.filter ul {
  list-style: none;
  line-height: 24px;
  padding: 0;
  margin: 0;
}

.filter-grid-item {
  margin-bottom: 16px;
  padding-left: 37px;
}

.filter-grid-item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-radio + label::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  top: 0;
  left: -36px;
  background-image: url("../img/icons/radio-off.png");
  opacity: .4;
}

input[type=radio]:checked + label::before {
  content: "";
  width: 25px;
  height: 25px;
  top: 0;
  left: -36px;
  position: absolute;
  background-image: url("../img/icons/radio-on.png");
}

.filter-radio:hover + .adaptive::before {
  opacity: 2;
}

.filter-radio:focus + .adaptive::before {
  opacity: 2;
}

.filter-radio:hover + .fixed::before {
  opacity: 2;
}

.filter-radio:focus + .fixed::before {
  opacity: 2;
}

.filter-radio:hover + .rubber::before {
  opacity: 2;
}

.filter-radio:focus + .rubber::before {
  opacity: 2;
}

/*filter-checkbox*/

.filter-label {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  display: block;
  cursor: pointer;
  color: #283136;
  padding-bottom: 20px;
  padding-left: 37px;
}

.filter-label:last-child {
  padding-bottom: 0;
}

.filter-label-check::before {
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;
  top: -2px;
  left: 0;
  background-image: url("../img/icons/checkbox-off.svg");
  opacity: 0.4;
}

input[type=checkbox]:checked + label::before {
  content: "";
  width: 25px;
  height: 23px;
  top: -2px;
  left: 0;
  position: absolute;
  background-image: url("../img/icons/checkbox-off.svg");
}

.filter-check:hover + .filter-label-check::before {
  opacity: 2;
}

.filter-check:focus + .filter-label-check::before {
  opacity: 2;
}

.filter-label-check:active::before {
  opacity: 1;
}

.filter-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  width: 260px;
  min-height: 50px;
  color: var(--text-black);
  background-color: var(--background-grey);
  border: none;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #DFDFDF;
}

.filter-button:active {
  background-color: #D5D5D5;
}

.filter-form .qualities {
  margin-bottom: 15px;
}

/*Sort*/

.catalog-sort {
  margin-left: 140px;
}

.catalog-sort-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 758px;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.catalog-sort h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.catalog-type-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.catalog-type-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 320px;
}

.catalog-type-item {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
}

.catalog-type-item:first-child {
  padding-right: 27px;
}

.catalog-type-item:nth-child(2) {
  padding-right: 26px;
}

.catalog-type-button {
  color: var(--text-black);
  border:none;
  background-color: white;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.5;
  padding: 0;
  margin: 0;
}

.catalog-type-button:focus,
.catalog-type-button:hover {
    color: rgba(0,0,0,.6);
}

.catalog-type-button:active {
    color: #000;
}

.catalog-type-button-active {
  opacity: 1;
}

.catalog-order-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.catalog-order-item {
  padding-left: 17px;
}

.catalog-order-item:first-child {
  padding-left: 0;
  margin-right: 0;
}

.catalog-order-button-down {
  color: var(--text-black);
  border:none;
  background-color: white;
  width: 11px;
  height: 10px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background-image: url("../img/icons/icon-down.svg");
}

.catalog-order-button-up {
  color: var(--text-black);
  border:none;
  background-color: white;
  width: 11px;
  height: 11px;
  padding: 0;
  margin: 0;
  background-image: url("../img/icons/icon-up.svg");
  cursor: default;
}

/*image*/

.catalog-template h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.catalog-template-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 760px;
  box-sizing: border-box;
  margin-top: 80px;
  margin-bottom: 55px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-template-item {
  margin-right: 40px;
  margin-top: 63px;
  margin-bottom: 0;
  position: relative;  
}

.catalog-template-item img {
  border: 1px solid  #eee;
  width: 358px;
  border-radius: 0 0 5px 5px;
}

.catalog-template-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-template-item:hover {
  box-shadow: 0 5px 9px 3px #cfcfcf;
}

.catalog-template-item:hover .catalog-title-hover {
  display: block;
}

.catalog-template-item:hover::before {
  background-color: #4d4d4d;
  box-shadow: 0 0 9px 3px #cfcfcf;
}

.catalog-template-item::before {
  content: "";
  position: absolute;
  width: 360px;
  height: 40px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #eee;
  top:-39px;
}

.catalog-template-item:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  left: 40px;
  top: -27px;
  box-shadow: 24px 0 0 0 #fff,
  -24px 0 0 0 #fff;
}

.catalog-title-hover {
  position: absolute;
  z-index: 2;
  height: 240px;
  box-sizing: border-box;
  background-color: var(--background-grey);
  margin-top: -238px;
  text-align: center;
  padding-top: 26px;
  display: none;
  border: 1px solid  #eee;
  width: 360px;
  border-radius: 5px;
}

.catalog-title-hover h3 {
  margin-top: 0;
  text-transform: uppercase;
  cursor: pointer;
}

.catalog-title-hover h3:hover {
  color: #FB565A;
}

.catalog-title-hover h3:active {
  color: #000000;
  opacity: .3;
}

.catalog-title-hover p {
  line-height: 18px;
  width: 200px;
  color: #666666;
  margin: 15px auto 18px;
  cursor: default;
}

.button-hover {
  padding: 12px 78px;
}

.rub::before {
  content: "\20BD";
}

 /*pagination*/

.pagination {
  padding: 0;
  margin: 0;
  margin-top: 49px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 0;
}

.pagination-item a {
  display: block;
  padding: 13px 17px 13px 18px;
  color: var(--basic-black);
  background-color: var(--background-grey);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border: 3px solid var(--background-grey);
  border-radius: 3px;
}

.pagination-item {
  margin-right: 11px;
}

.pagination-item .pagination-link {
   padding-left: 76px;
   padding-right: 75px;
   padding-top: 13px;
   padding-bottom: 12px;
}
 
.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
   background-color: var(--background-button-grey);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: var(--basic-black);
  background-color: var(--basic-white);
}



/*Grid*/

 
 /*.service-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}*/

/*
 .project-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 95px;
  padding: 20px 30px 48px 30px;
  border-bottom: 2px solid #eee;
  margin-bottom: 20px;
}*/
/*
.features {
  display: grid;
  grid-template-columns: 1fr 360px;
  padding-top: 30px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eee;
  justify-content: space-between;
}*/

