@font-face {
  font-family:"Roboto";
  src: url("../fonts/roboto.woff") format("woff"),
      url("../fonts/roboto.woff2") format("woff2");
      font-weight: 400;
      font-style: normal;
}
@font-face {
  font-family:"Roboto";
  src: url("../fonts/robotobold.woff") format("woff"),
      url("../fonts/robotobold.woff2") format("woff2");
      font-weight: 700;
      font-style: normal;
}
@font-face {
  font-family:"Roboto";
  src: url("../fonts/robotomedium.woff") format("woff"),
      url("../fonts/robotomedium.woff2") format("woff2");
      font-weight: 500;
      font-style: normal;
}
/*variables*/
:root {
  --text-black: #000000;
  --text-small: #283136;
  --basic-white: #ffffff;
  --background-button-red: #fb565a;
  --background-grey: #eeeeee;
  --background-button-green: #00ca74;
  --background-button-yellow: #EFC849;
  --basic-dark-grey: #888888;
  --icons-color: #a6a6a6;
  --basic-green: #00ca74;
  --basic-black: #231f20;
  --text-footer: #444444;
  --text-contacts: #666666;
  --button-hover-red: #E74246;
  --button-hover-green: #00BC6C;
  --button-hover-yellov: #EAB534;
  --button-focus-red: #D7373B;
  --button-focus-green: #00AA62;
  --button-focus-yellow: #E5A722;
  --checkbox: #4d4d4d;
  --background-button-grey: #dfdfdf;
}
/*Global*/

.page {
  height: 100%;
}
.page-body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-black);

  min-height: 100%;
  display: grid;
  grid-template-rows: 
  min-content 
  1fr 
  min-content;
  align-content: start;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}

/*main-header*/

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  background-color: var(--background-grey);
  margin-bottom: 80px;
  width: 100%;
  text-transform: uppercase;
}

.header-menu {
  display: flex;
  justify-content: space-between;
}

.main-header-logo img:hover {
  opacity: 0.7;
}
.main-header-logo img:active {
  opacity: 0.5;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation-item {
  display: inline-block;
  position: relative;
  margin-right: 10px;
}

.site-navigation-item a,
.user-basket a {
  display: block;
  text-decoration: none;
  color: #000;
  line-height: 30px;
  padding-top: 25px;
}

/* User navigation */

.user-basket {
  max-width: 130px;
}
.user-basket .basket {
  padding-left: 50px;
  position: relative;
}
.basket::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 15px;
  width: 16px;
  height: 18px;
  background-image: url("../img/icons/basket-icon.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation a,
.user-basket a {
  color: var(--text-black);
  display: block;
  padding: 25px 20px;
}

.site-navigation a:hover,
.user-basket a:hover {
  color: var(--background-button-red);
 }

.site-navigation a:active,
.user-basket a:active {
  color: var(--text-black);
  opacity: 30%;
}

/*Slider*/

.carousel {
  display: grid;
  background-color: var(--background-grey);
  background-image: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat;
  background-position: right;
  outline: 5px solid rgba(255, 0, 0 , 0.3);
  margin-bottom: 76px;
}

.slide-list{
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
}
.slide-item {
  outline: 5px solid rgba(0, 255, 255 , 0.3);
  outline-offset: -5px;
}
.slide-text  {
 font-size: 55px;
 line-height: 55px;
 font-weight: 500;
}
/*Button*/

.button {
  font: inherit;
  color: var(--basic-white);
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--background-button-red);
  border: none;
}
  
.button:hover {
  background-color: var(--button-hover-red);
}
.button:focus {
  background-color: var(--button-focus-red);
}
  
.button.button-green {
  background-color: var(--background-button-green);
}
.button.button-green:hover {
  background-color: var(--button-hover-green);
}
.button.button-green:focus {
  background-color: var(--button-focus-green);
}
.button.button-yellow {
  background-color: var(--background-button-yellow);
}
.button.button-yellow:hover {
  background-color: var(--button-hover-yellov);
}
.button.button-yellow:focus {
  background-color: var(--button-focus-yellow);
}

/*Service*/

.service {
  margin-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid var(--background-grey);
}

.service h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.service-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.service-item {
  width: 300px;
}
 /*Features*/
 .features {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 80px;
  border-bottom: 2px solid var(--background-grey);
}
.features-text {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  padding: 0;
  padding-top: 45px;
  margin: 0;
}

.features-text-slogan {
  line-height: 24px;
}
.features-page {
  width: 660px;
  margin-right: 120px;
}

.features-page h3 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.order-list {
  list-style: none;
}

.order-list li {
  padding-bottom: 25px;
  position: relative;
}

.order-list li::before {
  content: "";
  top: 12px;
  left: -35px;
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}
.features-content {
  width: 360px;
}

.features-title {
  display: block;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 25px;
}


.features-content img {
  width: 360px;
  height: 208px;
}
.features-table {
  margin-top: 32px;
}
.features-table-row th {
  font-weight: bold;
  font-size: 45px;
  line-height: 10px;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-right: 15px;
  text-align: left;
}
.features-table-row sub {
  font-size: 28px;
}

/*project*/

.projects {
  padding: 0;
  margin: 0 auto;
}

.project-item-logo {
  opacity: 0.20;
}
.project-item-logo:hover {
  opacity: 1;
}
.project-item-logo:active {
  opacity: 0.1;
}

.project-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 25px 30px 48px 30px;
  border-bottom: 2px solid #eee;
  margin-bottom: 20px;
}
/*footer*/
  

.footer {
  font: inherit;
  color: inherit;
  margin-top: 80px;
}
.contacts {
  margin: 0px;
}
.footer-contacts h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
.footer-contacts adress {
  line-height: 18px;
}
.footer-social .container {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  text-align: center;
  padding: 68px 0;
}
.footer-social {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer-header {
  order: 1;
  width: 760px;
  margin: 0;
  line-height: 36px;
}
.footer-header h2 {
  margin-top: 75px;
  margin-bottom: 1px;
}
.footer-header p {
  margin-bottom: 74px;
  width: 373px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  width: 265px;
  margin: 0 auto;
  padding: 0;
}

.social-header ul {
  margin: 68px 0px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  background-color: #e1e1e1;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.social-link:hover,
.social-link:focus {
  background-color: #e74246; 
}

.social-link:active {
  background-color: #d7373b;
}
.social-link:active path {
  fill: #ffffff;
  opacity: 30%;
}
.footer-social h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}
.footer-social p {
  line-height: 22px;
  color: #444444;
}

/*Catalog*/

.main-container {
  display: grid;
  grid-template-columns: 260px 1fr;
}
.main-container .portfolio {
  display: none;
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
}
.filter-container {
  width: 260px;
}
.filter-container fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;
}
.filter-container fieldset:first-child {
  margin-bottom: 54px;
}
.filter-container fieldset:nth-child(2n) {
  margin-bottom: 46px;
}

.page-catalog .page-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  padding-top: 80px;
  padding-bottom: 115px;
  text-align: center;
  background-color: var(--background-grey);
}

/*portfolio*/

.filter legend {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
.filter ul {
  list-style: none;
  line-height: 19px;
  padding: 0;
  margin: 0;
}
.filter-input-radio:hover,
.filter-input-radio:focus {
  color: var(--checkbox);
  opacity: 40%;
}
.filter-input-checkbox:hover,
.filter-input-checkbox:focus {
  color: var(--checkbox);
  opacity: 40%;
}
.filter-button {
  font: inherit;
  color: var(--text-black);
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--background-grey);
  border: none;
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--background-button-grey);
}

/*Sort*/
.catalog-sort {
  margin-left: 140px;
}

.price {
  display: flex;
  justify-content: space-between;
}
.price h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 48px;
  margin: 0;
  padding: 0;
}
.catalog-toggle-list {
  display: flex;
  width: 360px;
  justify-content: space-between;
}
.price-list {
  list-style: none; 
  display: flex;
  margin: 0;
  padding: 0;
}
.price-list.price-item {
  font-size: 14px;
  line-height: 18px;
}
.price-list-button {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.type-item {
  color: var(--text-black);
  opacity: 30%;
}

/*image*/


.image-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 55px;
  padding: 0;
  margin: 0;
}
.image-item {
  width: 358px;
  min-height: 578px;
  margin-right: 42px;
  margin-bottom: 31px;
}
.image-item:nth-child(2n) {
  margin-right: 0;
}
.img {
  line-height: 1px; /* Межстрочное расстояние */
  position: top;
 }
 .pattern-image h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  display: none;
 }
 .pattern-image p {
  line-height: 18px;
 }
 
 /*pagination*/

 .pagination-list {
  list-style: none;
 }
 .pagination-item a {
  color: var(--basic-black);
  background-color: var(--background-grey);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
 }
 .pagination-item a:hover,
 .pagination-item a:focus,
 .pagination-item a:active {
   background-color: var(--background-button-grey);
 }
.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/*Grid*/

 
 /*.service-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}*/

/*
 .project-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 95px;
  padding: 20px 30px 48px 30px;
  border-bottom: 2px solid #eee;
  margin-bottom: 20px;
}*/
/*
.features {
  display: grid;
  grid-template-columns: 1fr 360px;
  padding-top: 30px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eee;
  justify-content: space-between;
}*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}